#
# Geary CI config.
#

include: 'https://gitlab.gnome.org/GNOME/citemplates/raw/master/flatpak/flatpak_ci_initiative.yml'

variables:
  # Flatpak CI vars
  BUNDLE: geary-dev.flatpak

  # ImapDB and other tests that touch the disk are super slow on CI
  # runners like gcc150.osuosl.org that use platter drives still.
  # See Infrastructure/Infrastructure#97.
  TEST_ARGS: -t 10

  # Build
  BUILD_DIR: build
  CONFIG_CMD: meson --buildtype=debug build
  BUILD_CMD: ninja -v -C $BUILD_DIR
  TEST_CMD: xvfb-run meson test -v --no-stdsplit -C $BUILD_DIR $TEST_ARGS
  INSTALL_CMD: ninja -v -C $BUILD_DIR install

  # Fedora packages
  FEDORA_DEPS: vala
               meson desktop-file-utils libcanberra-devel
               folks-devel libgee-devel glib2-devel gmime-devel
               gtk3-devel libnotify-devel sqlite-devel
               webkitgtk4-devel libsecret-devel libxml2-devel
               vala-tools gcr-devel enchant2-devel libunwind-devel
               iso-codes-devel gnome-online-accounts-devel itstool
               json-glib-devel
  FEDORA_TEST_DEPS: Xvfb tar xz

  # Ubuntu packages
  UBUNTU_DEPS: valac build-essential
               meson desktop-file-utils libcanberra-dev
               libfolks-dev libgee-0.8-dev libglib2.0-dev
               libgmime-2.6-dev libgtk-3-dev libsecret-1-dev
               libxml2-dev libnotify-dev libsqlite3-dev
               libwebkit2gtk-4.0-dev libgcr-3-dev libenchant-dev
               libunwind-dev iso-codes libgoa-1.0-dev itstool gettext
               libmessaging-menu-dev libunity-dev libjson-glib-dev
  UBUNTU_TEST_DEPS: xauth xvfb

fedora:
  stage: build
  image: fedora:latest
  before_script:
    - dnf update -y --nogpgcheck
    - dnf install -y --nogpgcheck $FEDORA_DEPS $FEDORA_TEST_DEPS
  script:
    - $CONFIG_CMD
    - $BUILD_CMD
    - $TEST_CMD
    - $INSTALL_CMD
  artifacts:
    when: 'always'
    paths:
      - '$BUILD_DIR/meson-logs/meson-log.txt'
      - '$BUILD_DIR/meson-logs/testlog.txt'
    expire_in: 2 days

ubuntu:
  stage: build
  image: ubuntu:rolling
  before_script:
    - apt-get update
    - apt-get install -q -y --no-install-recommends $UBUNTU_DEPS $UBUNTU_TEST_DEPS
  script:
    - $CONFIG_CMD
    - $BUILD_CMD
    - $TEST_CMD
    - $INSTALL_CMD
  artifacts:
    when: 'always'
    paths:
      - '_build/meson-logs/meson-log.txt'
      - '_build/meson-logs/testlog.txt'
    expire_in: 2 days

flatpak:
  image: 'registry.gitlab.gnome.org/gnome/gnome-runtime-images/gnome:master'
  variables:
    APP_ID: org.gnome.Geary
    FLATPAK_MODULE: geary
    MANIFEST_PATH: org.gnome.Geary.json
    MESON_ARGS: "-Dprofile=Devel"
    RUNTIME_REPO: "https://sdk.gnome.org/gnome-nightly.flatpakrepo"
    TEST_RUN_ARGS: $TEST_ARGS
  extends: .flatpak

review:
    stage: deploy
    dependencies:
      - flatpak
    extends: .review

stop_review:
    stage: deploy
    extends: .stop_review
