[Desktop Entry]
Encoding=UTF-8
Icon=geary
Name=Geary
GenericName=Email Client
Comment=Send and receive email
TryExec=geary
Exec=geary %U
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;Office;Email
MimeType=x-scheme-handler/mailto

