Source: geary
Section: gnome
Priority: optional
Maintainer: Jim Nelson <jim@yorba.org>
Build-Depends: debhelper (>= 8), 
 libgee-dev (>= 0.6.0),
 libglib2.0-dev (>= 2.30.0),
 libgtk-3-dev (>= 3.2.0),
 libunique-3.0-dev (>= 3.0.0),
 libnotify-dev (>=0.7.5),
 libcanberra-dev (>= 0.28),
 libwebkitgtk-3.0-dev (>= 1.8.0),
 libgmime-2.6-dev (>= 2.6.0),
 valac-0.18 (>= 0.17.4),
 cmake (>= 2.8.0),
 libsqlite3-dev (>= 3.7.4),
 libgnome-keyring-dev (>= 3.2.2),
 libindicate-dev (>= 0.6.1),
 libunity-dev (>= 5.12.0),
 intltool,
 libgirepository1.0-dev (>= 1.33.0)
Standards-Version: 3.8.3
Homepage: http://www.yorba.org

Package: geary
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 libgee2 (>= 0.6.0),
 libglib2.0-0 (>= 2.30.0),
 libgtk-3-0 (>= 3.2.0),
 libunique-3.0-0 (>= 3.0.0),
 libnotify4 (>= 0.7.5),
 libcanberra0 (>= 0.28),
 libwebkitgtk-3.0-0 (>= 1.8.0),
 libxml2 (>= 2.6.32),
 libsqlite3-0 (>= 3.7.4),
 libgnome-keyring0 (>= 3.2.2),
 libindicate5 (>= 0.6.1),
 libunity9 (>= 5.12.0)
Description: Email client
 Geary is an email client built for the GNOME desktop environment.  It
 allows you to read and send email with a simple, modern interface.
 .
 Visit http://www.yorba.org to read about the current state of 
 Geary's development.

Package: geary-dbg
Architecture: any
Section: debug
Priority: extra
Depends: geary (= ${binary:Version}), ${misc:Depends}
Enhances: geary
Description: Email client (debugging symbols)
 Geary is an email client built for the GNOME desktop environment.  It
 allows you to read and send email with a simple, modern interface.
 .
 Visit http://www.yorba.org to read about the current state of 
 Geary's development.
 .
 This package contains debugging symbols for geary.
