Source: geary
Section: gnome
Priority: optional
Maintainer: Michael Gratton <mike@vee.net>
Build-Depends: debhelper (>= 8),
 desktop-file-utils,
 iso-codes,
 itstool,
 libcanberra-dev,
 libenchant-dev,
 libgcr-3-dev,
 libgee-0.8-dev,
 libgirepository1.0-dev,
 libglib2.0-dev (>= 2.54.0),
 libgmime-2.6-dev (>= 2.6.17),
 libgoa-1.0-dev,
 libgtk-3-dev (>= 3.22.26),
 libjson-glib-dev,
 libmessaging-menu-dev,
 libnotify-dev,
 libsecret-1-dev,
 libsoup2.4-dev,
 libsqlite3-dev (>= 3.12),
 libunity-dev,
 libunwind-dev,
 libwebkit2gtk-4.0-dev (>= 2.20),
 libxml2-dev,
 meson (>= 0.41),
 valac (>=0.38)
Standards-Version: 4.1.4
Homepage: https://wiki.gnome.org/Apps/Geary

Package: geary
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 iso-codes,
 libcanberra0,
 libenchant1c2a,
 libgcr-base-3-1,
 libgcr-ui-3-1,
 libgee-0.8-2,
 libglib2.0-0 (>= 2.56.0),
 libgmime-2.6-0 (>= 2.6.17),
 libgoa-1.0-0b,
 libgtk-3-0 (>= 3.22.26),
 libjson-glib-1.0-0,
 libmessaging-menu0,
 libnotify4,
 libsecret-1-0,
 libsoup2.4-1,
 libsqlite3-0 (>= 3.12),
 libunity9,
 libunwind8,
 libwebkit2gtk-4.0-37 (>= 2.20),
 libxml2
Description: Email application
 Geary is an email application built around conversations, for the
 GNOME 3 desktop. It allows you to read, find and send email with a
 straightforward, modern interface.
 .
 Conversations allow you to read a complete discussion without having
 to find and click from message to message.
 .
 Geary's features include:
 - Quick email account setup
 - Shows related messages together in conversations
 - Fast, full text and keyword search
 - Full-featured HTML and plain text message composer
 - Desktop notification of new mail
 - Compatible with GMail, Yahoo! Mail, Outlook.com and other IMAP servers
