.large-title {
   font-weight: 300;
   font-size: 24pt;
   letter-spacing: 0.2rem;
}
.page-title {
   font-weight: 600;
   font-size: 20pt;
}
.page-body {
   font-weight: 400;
   font-size: 12pt;
}

.last-page {
  background-color: #4a86cf; /*GNOME blue*/
}

.last-page .page-title, .last-page .page-body {
  color: white;
}
