/**
 * Style that is inserted into the message after it is loaded.
 */

/*
 * General HTML style.
 */

html, body {
  left: 0 !important;
  width: 100% !important;

  /* Trigger CSS 2.1 § 10.6.7 to get a shrink-wrapped height.
     See also ConversationWebView.get_preferred_height */
  position: absolute !important;
  top: 0 !important;
  bottom: auto !important;
  height: auto !important;

  /* Disable viewport scrollbbars */
  overflow: hidden !important;
}

body {
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  color: black;
  background-color: white;
  font: caption;
  word-wrap: break-word;
}

/* By default, tables reset the font properties to "normal" */
table {
    font-size: inherit;
}

a {
    color: #08c;
}

td, th {
    vertical-align: top;
}
hr {
    background-color: #999;
    height: 1px;
    border: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button {
    border: 1px transparent solid;
    border-radius: 2.5px;
    cursor: pointer;
    padding: 4px;
    margin-top: 7px;
    text-align: center;
}
.button * {
    pointer-events: none;
}
.button:hover {
    border-color: rgba(0,0,0,0.18);
    box-shadow: inset 0px 0px 1px rgba(255,255,255,0.8);
}
.button:active {
    border-color: rgba(0,0,0,0.20);
    background-color: rgba(0,0,0,0.05);;
    padding: 5px 3px 3px 5px;
    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.05);
}

blockquote {
    margin: 5px 10px 5px 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
    border-left: 3px #aaa solid;
}

/**
 * Message chrome style.
 */

.signature {
    color: #777;
    display: inline;
}

.signature a,
.quote_container a {
    color: #5fb2e7;
}

@media screen {
  #part_container, .preview {
    -webkit-user-select: auto;
    -webkit-user-drag: auto;
  }
  .shower, .hider {
    -webkit-user-select: none;
    -webkit-user-drag: none;
  }

  .replaced_inline_image {
    display: block;
    max-width: 100%;
    margin-top: 1em;
  }

  .link_warning {
    display: inline-block;
    position: absolute;
    margin-top: -1em;
    border: 1px solid #999;
    padding: 1em;
    background: #ffc;
    box-shadow: 0 3px 11px rgba(0,0,0,0.21);
    /* Reset styles */
    font: caption;
    color: black;
  }
  .link_warning a {
    color: #08c;
  }
  .link_warning span {
    display: block;
    padding-left: 1em;
  }
  .link_warning .close_link_warning {
    float: right;
    margin-top: -0.67em;
    margin-right: -0.67em;
  }

  .quote_container {
    position: relative;
    margin: 5px 0;
    padding: 12px;
    color: #303030;
    background-color: #e8e8e8;/* recv-quoted */
    border-radius: 4px;
  }
  .quote_container .quote {
    overflow: hidden;
    position: relative;
    z-index: 0;
  }
  .quote_container.controllable .quote {
    max-height: 6em;
  }
  .quote_container.controllable.show .quote {
    max-height: none;
  }

  .sent .quote_container {
    background-color: #e8e8e8;/* sent-quoted */
  }

  .quote_container > .shower,
  .quote_container > .hider {
    position: absolute;
    z-index: 1;
    bottom: -7px;
    left: 0;
    right: 0;
    display: none;
  }

  .quote_container > .shower > input,
  .quote_container > .hider > input {
    width: 100%;
    height: 15px;
    padding: 0;
    font-size: 7px;  /* Absolute size in pixels for graphics */
    color: #888;
  }
  .quote_container > .shower:hover > input,
  .quote_container > .hider:hover > input {
    color: #000;
  }

  .quote_container.controllable {
    margin-bottom: 7px;
    padding-bottom: 0;
  }
  .quote_container.controllable.show {
    padding-bottom: 12px;
  }
  .quote_container.controllable > .shower {
    display: block;
  }
  .quote_container.controllable.show > .shower {
    display: none;
  }
  .quote_container.controllable.show > .hider {
    display: block;
  }

  .search_coloring *::selection {
    background-color: #00ddff;
  }
}

@media print {
  body {
    background-color: white !important;
  }

  #part_container {
    display: none !important;
  }
  #print_container {
    display: inline-block !important;
    background-color: white !important;
  }
  #print_container .preview {
    display: none !important;
  }
}
