# See src/client/geary-application.vala for corresponding strings in the application
[Desktop Entry]
Icon=geary
Name=Geary
GenericName=Email Client
Comment=Send and receive email
TryExec=geary
Exec=geary %U
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;Office;Email;
MimeType=x-scheme-handler/mailto;

